* {
  font-family: 'Lato', sans-serif;
}

hr {
  margin-top: 1vh;
  border: 1px solid #ec5242;
  width: 10%;
  margin-bottom: 10vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

.hamburguer {
  width: 12vw;
  position: absolute;
  top: 3vw;
  left: 3vw;
}

.sec1_content {
  display: flex;
  justify-content: center;
  margin-top: 18vw;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent 0%, #fff 85%), url(./assets/bkg.jpg);
  background-size: cover;
  background-position: center;
}

.info_text {
  font-size: 1rem;
  width: 90vw;
  border: 3px solid #fff;
  color: #272a31;
  margin: 0 5vw;
  background: #e7e7e7;
}

.evn_time {
  font-family: 'Eczar', serif;
  font-weight: 800;
  font-size: 6vw;
  color: #272a31;
  width: 50vw;
  margin: 0 5vw 5vh 5vw;
}

h2 {
  color: #ec5242;
  font-family: 'Eczar', serif;
  font-weight: 500;
  margin: 20vh 5vw 0 5vw;
}

.content_title {
  color: #ec5242;
  font-family: 'Eczar', serif;
  font-weight: 800;
  font-size: 12vw;
  width: 90vw;
  margin: 0 5vw 5vh 5vw;
  line-height: 10vw;
}

ul {
  list-style: none;
  margin: 5vh auto;
  padding: 5vh 0;
}

.sec2 {
  background: url(./assets/fret.png);
  background-repeat: repeat;
  background-color: #272a31;
  padding: 3vw 0; 
}

.program_title {
  color: #fff;
  font-size: 5vw;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 5vh auto 0 auto;
}

.program {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 120px;
  background: rgba(211, 211, 211, 0.5);
  margin: 20px 5vw;
  flex-direction: row;
  align-items: center;  
}

.program > img {
  width: 12vw;
  margin-left: 2vw;
}

.program > p {
  color: #fff;
  width: 50vw;
  font-size: 0.85rem;
}

.btn {
  display: block;
  width: 70vw;
  height: 18vw;
  background: #ec5242;
  justify-content: center;
  color: #fff;
  border-style: none;
  font-size: 4vw;
  margin: 0 auto 10vh auto;
}

.btn:hover {
  background: #d64a3b;
  color: #272a31;
}

.btn_about {
  display: none;
}

h4 {
  color: #ec5242;
  font-size: 4vw;
}

.sec3 > h2 {
  color: #272a31;
  font-size: 5vw;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 5vh auto 0 auto;
}

.speaker_list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.speakers {
  display: flex;
  width: 90vw;
  margin: 5vw;
  flex-direction: row;
}

.speakers > div {
  width: fit-content;
  margin: 0;
}

.speaker_info {
  flex-direction: row;
  margin: 0;
}

.speaker_info > h4 {
  color: #272a31;
  font-size: 4vw;
  margin: 0 2vw;
}

.speaker_title {
  color: #ec5242;
  font-style: italic;
  font-size: 3vw;
  margin: 1vh 2vw;
}

.speaker_info > hr {
  margin: 0 2vw;
  border: 1px solid #272a31;
  width: 15%;
}

.speaker_info p {
  margin-left: 2vw;
}

.img_speaker {
  width: 30vw;
  height: 30vw;
  border: 2px solid #ec5242;
  margin-right: 5vw;
}

/* About css */

.sec1_content_about {
  background: #e7e7e7;
  margin-top: 18vw;
  padding-top: 15vw;
}

.about_h2 {
  color: #ec5242;
  font-family: 'Eczar', serif;
  font-weight: 500;
  margin: 15vw auto 0 auto;
  width: fit-content;
}

.content_title_about {
  color: #ec5242;
  font-family: 'Eczar', serif;
  font-weight: 800;
  font-size: 10vw;
  width: 90vw;
  margin: 0 auto 5vh auto;
  line-height: 10vw;
  align-items: center;
  text-align: center;
}

.info_text_about {
  background: #fff;
  border: 1px solid #b3b3b3;
  width: 90vw;
  margin: auto;
  font-size: 3vw;
  text-align: center;
}

.about_info {
  width: 80vw;
  height: 10vh;
  text-align: center;
  margin: 2vw auto 2vw auto;
  font-size: 2.7vw;
}

.about_info > a {
  font-size: 2.9vw;
  color: #272a31;
  font-weight: 700;
}

.sec2_about {
  border-bottom: 2px solid #e7e7e7;
}

.sec2_about > h1 {
  width: fit-content;
  margin: 10vh auto 0 auto;
  font-size: 5vw;
}

.sec2_about > hr {
  margin: 2vh auto 10vh auto;
}

.sec2_about > p {
  max-width: 70vw;
  margin: 0 auto;
  text-align: center;
  font-size: 3.5vw;
}

.div_logo {
  display: flex;
  width: 90vw;
  height: 45vw;
  border: 2px solid #e7e7e7;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
}

.div_logo > img {
  width: 70vw;
}

.sec3_about > h1 {
  width: fit-content;
  margin: 10vh auto 0 auto;
  font-size: 5vw;
}

.sec3_about > hr {
  margin: 3vw auto;
}

.sec3_about > p {
  margin: auto;
  font-size: 3.5vw;
}

.past_sym {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5vh 0;
}

.sec3_about {
  display: flex;
  flex-direction: column;
}

.past_sym_img {
  width: 75vw;
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-35deg) saturate(600%) contrast(0.8);
}

.past_sym_cnt {
  position: relative;
  color: #fff;
  width: fit-content;
  height: fit-content;
  margin: 1.5vh auto;
  z-index: 55;
}

.past_sym_cnt_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 5vw;
  font-weight: 800;
}

.footer_about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 30vh;
  background: #272a31;
}

.footer_about > h2 {
  margin: 3vh auto 1vh auto;
  color: #e7e7e7;
  font-size: 4vw;
  font-family: 'Lato', sans-serif;
}

.footer_about > hr {
  width: 10%;
  margin: 1vh auto 1vh auto;
}

.desktop_nav {
  display: none;
}

header {
  height: 0;
}

.logo {
  display: none;
}

footer {
  display: none;
}

/* MENU MOBILE */
.display_menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: #ec5242d7;
  width: 100%;
  height: 150vh;
  z-index: 99;
  font-weight: 600;
}

.display_ul {
  margin: 25vw;
}

.display_ul li a {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 10vw;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

@keyframes display_menu_animation {
  0% { height: 0; }
  100% { height: 100vh; }
}

@keyframes close_menu_animation {
  0% { height: 100vh; }
  100% { height: 0; }
}

.chm_btn {
  position: absolute;
  right: 6vw;
  top: 6vw;
}

/* Dekstop */
@media (min-width: 768px) {
  .hamburguer {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 1vw;
  }

  nav {
    width: fit-content;
    margin-right: 8vw;
  }

  a {
    font-style: normal;
    text-decoration: none;
  }

  .logo {
    display: block;
    width: 10vw;
    margin: 0;
    margin-left: 8vw;
  }

  .desktop_nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    right: 0;
  }

  .desktop_nav > li {
    display: inline;
    padding: 0;
    margin-left: 2vw;
  }

  .desktop_nav > li > {
    color: #272a31;
    text-decoration: none;    
  }

  .sec1_content {
    margin-top: 0;
  }

  h2 {
    color: #ec5242;
    font-family: 'Eczar', serif;
    font-weight: 500;
    font-size: 2vw;
    margin: 20vh 5vw 0 11vw;
  }

  .content_title {
    font-size: 5vw;
    width: 50vw;
    line-height: 5vw;
    margin: 0 5vw 1vh 11vw;
  }

  .info_text {
    width: 50vw;
    margin: 0 5vw 5vh 11vw;
  }

  .evn_time {
    font-family: 'Eczar', serif;
    font-weight: 800;
    font-size: 3vw;
    color: #272a31;
    width: 50vw;
    margin: 0 5vw 10vh 11vw;
  }

  .sec2 {
    display: flex;
    flex-direction: column;
  }

  .program_title {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 5vh auto 0 auto;
  }

  hr {
    margin-top: 0.5vw;
    width: 3%;
  }

  .sec2 > ul {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 10vh 10.5vw;
    padding: 0;
    justify-content: center;
  }

  .program {
    width: 14vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    margin: 20px 0.2vw;
    justify-content: center;
  }

  .program > img {
    width: 4vw;
    margin: 0;
  }

  .btn_about {
    display: block;
    width: fit-content;
    text-decoration: underline;
    height: 4vh;
    justify-content: center;
    color: #fff;
    background: none;
    border-style: none;
    font-size: 1.5rem;
    margin: 5vh auto 20vh auto;
  }

  .btn_about:hover {
    color: #ec5242;
  }

  .btn {
    display: none;
  }

  .program > p {
    color: #fff;
    width: 9vw;
    font-size: 0.8vw;
  }

  h4 {
    font-size: 1.5rem;
    margin: 1vw 0;
  }

  .sec3 {
    justify-content: center;
  }

  footer > h2 {
    margin: 3vh auto 1vh auto;
    color: #e7e7e7;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
  }

  .sec3 > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .speakers {
    width: 30vw;
    margin: 5vh 0;
  }

  .speaker_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 10vh auto;
    width: 80vw;
    justify-content: center;
  }

  .img_speaker {
    width: 10vw;
    height: 10vw;
    margin: 0;
  }

  .speaker_info > hr {
    margin: 0.6vw 1vw;
  }

  .speaker_info > h4 {
    font-size: 2.2rem;
    margin: 0 1vw 0 1vw;
  }

  .speaker_title {
    font-size: 1.4rem;
    margin: 5px 1vw 0 1vw;
  }

  .speaker_info p {
    font-size: 0.9rem;
    margin: 5px 1vw 0 1vw;
    width: 15vw;
  }

  footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    background: #272a31;
  }

  /* About section */

  .sec1_content_about {
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    background-color: #e7e7e7;
    margin-top: 0;
  }

  .content_title_about {
    font-size: 5vw;
    width: 70vw;
    line-height: 5vw;
    margin: 0 auto 5vh auto;
  }

  .past_sym {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5vh auto;
  }

  .past_sym_cnt {
    width: fit-content;
    margin: 1.5vw;
  }

  .past_sym_img {
    width: 30vw;
    height: 15vw;
    margin: 0;
  }

  .past_sym_cnt_title {
    font-size: 3vw;
  }

  .info_text_about {
    background: #fff;
    border: 1px solid #b3b3b3;
    width: 50vw;
    margin: 3vh auto;
    font-size: 0.9vw;
    text-align: center;
    padding: 0 2vw;
  }

  .about_info {
    font-size: 0.8vw;
  }

  .about_info > a {
    font-size: 0.9vw;
  }

  .sec2_about {
    border-bottom: 2px solid #e7e7e7;
  }

  .sec2_about > p {
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
  }

  .sec2_about > h1 {
    width: fit-content;
    margin: 10vh auto 0 auto;
    font-size: 2vw;
  }

  .div_logo {
    display: flex;
    width: 20vw;
    height: 10vw;
    border: 2px solid #e7e7e7;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
  }

  .div_logo > img {
    width: 14vw;
  }

  .sec2_about > hr {
    margin-top: 2vh;
  }

  .sec3_about > hr {
    margin-top: 2vh;
  }
}
